[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
tqdm = "*"
requests = "*"
requests-html = "*"
wget = "*"
bizdays = "*"


[dev-packages]



[requires]

python_version = "3"
